<!--pick messages from the controller-->
<% if flash[:notice1]%>
	<div class="alert alert-success">
		<img src="/check.png" width="30" height="20"/><%= flash[:notice1]%>
	</div>

<% elsif flash[:notice2]%>
	<div class="alert alert-danger">
		<img src="/fail.png" width="30" height="20"/><%= flash[:notice2]%>
	</div>
<%end%>


<legend> Add Items To Inventory</legend>

<div id="container">
	<fieldset>
		<div class="span6 well">
			<!-- form adds new items to item database -->
			<%= form_for(:items, :url => {:controller => 'items', :action => 'create'}, :html=>{ :class=>"form-horizontal"}) do |f| %>
				<!-- checking for any form errors -->
				<% if @items.errors.any? %>
					<div class="alert alert-danger">
						<% for message_error in @items.errors.full_messages %>
						<%= message_error %>
						<% end %>
					</div>
				<% end %>

				<!-- adding form fields -->
				<div class="control-group">
					<%= f.label :name, class: "control-label" %>
					<div class="controls">
						<%= f.text_field :name%>
					</div>
				</div>
				<div class="control-group">
					<%= f.label :price, class: "control-label" %>
					<div class="controls">
						<%= f.text_field :price%>
					</div>
				</div>
				<div class="control-group">
					<%= f.label :quantity, class: "control-label" %>
					<div class="controls">
						<%= f.text_field :quantity%>
					</div>
				</div>
				<!-- submit the form -->
				<div class="control-group" style="width:220px; margin-left:180px;padding-left:0px; margin-top:2px;">
					<div class="form-actions" style="padding-left:0px; margin-top:0px;">
						<%= f.submit "Add Item" %>
					</div>
				</div>
			<% end %><!-- form ends here -->
		</div>
	</fieldset>
</div>

<!-- link to the admin menu-->
<div id="back">
	<%= link_to "Back", admin_index_path %>
</div>